.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rounded-input {
  border-radius: 8px; /* Скругляем углы поля ввода */
  padding: 8px;
  margin-bottom: 16px;
  width: 300px;
  border: 1px solid #ccc;
  outline: none;
}

.rounded-button {
  border-radius: 8px; /* Скругляем углы кнопки */
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.rounded-button:hover {
  background-color: #0056b3; /* Изменяем цвет кнопки при наведении */
}

.sidebar-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.sidebar-button {
  margin-bottom: 10px; /* Отступ между кнопками */
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.role-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.role-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.remove-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-role-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  margin-top: 10px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.skip-button, .apply-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.skip-button:hover, .apply-button:hover, .remove-button:hover, .add-role-button:hover {
  background-color: #0056b3;
}


.user-story-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.system-container {
  margin-bottom: 20px;
}

.component-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

select {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-scenario-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.create-scenario-button:hover {
  background-color: #0056b3;
}