.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rounded-input {
  border-radius: 8px; /* Скругляем углы поля ввода */
  padding: 8px;
  margin-bottom: 16px;
  width: 300px;
  border: 1px solid #ccc;
  outline: none;
}

.rounded-button {
  border-radius: 8px; /* Скругляем углы кнопки */
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.rounded-button:hover {
  background-color: #0056b3; /* Изменяем цвет кнопки при наведении */
}

.sidebar-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.sidebar-button {
  margin-bottom: 10px; /* Отступ между кнопками */
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}
